.register-student-form {
    display: flex;
    flex-wrap: wrap ;
    overflow-y: scroll;
    height: 70vh;
    padding: 0rem 1rem;
}

/* .register-student-modal{
    height: 100%;
    width: 100%;
} */
.form-title{
    text-align: center;
    font-weight: bolder;
}

hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

label{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

input{
    width: 21em;
    background-color: rgb(241, 239, 239);
}

select{
    width: 30em;
    height: 3em;
    background-color: rgb(241, 239, 239);
}

.form-subtitle{
    text-align: center;
    font-weight: bolder;
}