.register-student-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    padding: 1rem;
  }

  .register-student-form > div {
    flex-basis: calc(50% - 20px);
  }
  
  .register-student-form label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 15px;
  }
  
  .register-student-form input,
  .register-student-form select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    color: #495057;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
  
  .register-student-form input:focus,
  .register-student-form select:focus {
    outline: none;
    border-color: #4d8cf2;
    box-shadow: 0 0 0 0.2rem rgba(77, 140, 242, 0.25);
  }
  
  .register-student-form hr {
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid #dee2e6;
  }
  
  .register-student-form p {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .exit-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #6c757d;
  }
  
  .exit-button:hover {
    color: #343a40;
  }
  
  @media only screen and (max-width: 768px) {
    .register-student-form > div {
      flex-basis: 100%;
    }
  }
  