.weather-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 260px;
  display: flex;
  align-items: flex-start;
}

.weather-card__container {
  display: flex;
  flex-direction: column;
}

.weather-card__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.weather-card__info{
  text-align:left;
}

.weather-card__desc
.weather-card__sunset 
.weather-card__sunrise
.weather-card__temp
.weather-card__loc {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

