.weather-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 300px;
}

.weather-card__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.weather-card__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.weather-card__info{
  text-align:left;
}

.weather-card__temp {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.weather-card__temp svg {
  margin-right: 5px;
}

.weather-card__desc {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.weather-card__sunrise,
.weather-card__sunset {
  font-size: 1rem;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.weather-card__sunrise svg,
.weather-card__sunset svg {
  margin-right: 5px;
}
