/* AdminDashboard.css */

.admin-dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-user-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-user-button:hover {
    background-color: #0062cc;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

input,
select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.2rem;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0062cc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

.edit-button,
.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: red;
}

.edit-button{
    background-color: #007bff;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #ddd;
}
