.login-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #38b7f1 0%, #a2e8fa 100%);

}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.intro {
  font-size: 18px;
  margin: 5vh;
  text-align: center;
}

.ecdc-logo{
  height: 150px;
  margin: 1rem;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 3vh;
  margin: 3vh;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50vh;
  height: 50vh;
}

.intro-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  width: 80%;
}

button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #449d44;
}

a {
  font-size: 16px;
  color: #888;
  text-decoration: none;
  margin-bottom: 20px;
}

a:hover {
  color: #000;
}

.contact-us-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor:pointer ;
  margin-bottom: 20px;
}

.contact-us-button:hover {
  background-color: #91ff00;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .login-page {
    flex-direction: column;
    align-items: center;
  }

  .login-form{
    width: 80%;
    height: auto;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .intro {
    font-size: 16px;
    margin-bottom: 20px;
  }

  label {
    font-size: 16px;
    margin-bottom: 8px;
  }

  input {
    font-size: 16px;
    margin-bottom: 16px;

  }

  .login-input{
    width: 90%;
  }

  button {
    font-size: 16px;
    margin-bottom: 16px;
  }

  a {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .contact-us-button {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
